In [30]:
import pandas as pd

op_data = []
data = pd.read_csv('./test/abz5.csv', header=None)

In [31]:
for i in range(10):
    op_data.append([])
    for j in range(10):
        op_data[i].append((data.iloc[10+i,j]-1, data.iloc[i, j]))

op_data

[[(4, 88),
  (8, 68),
  (6, 94),
  (5, 99),
  (1, 67),
  (2, 89),
  (9, 77),
  (7, 99),
  (0, 86),
  (3, 92)],
 [(5, 72),
  (3, 50),
  (6, 69),
  (4, 75),
  (2, 94),
  (8, 66),
  (0, 92),
  (1, 82),
  (7, 94),
  (9, 63)],
 [(9, 83),
  (8, 61),
  (0, 83),
  (1, 65),
  (6, 64),
  (5, 85),
  (7, 78),
  (4, 85),
  (2, 55),
  (3, 77)],
 [(7, 94),
  (2, 68),
  (1, 61),
  (4, 99),
  (3, 54),
  (6, 75),
  (5, 66),
  (0, 76),
  (9, 63),
  (8, 67)],
 [(3, 69),
  (4, 88),
  (9, 82),
  (8, 95),
  (0, 99),
  (2, 67),
  (6, 95),
  (5, 68),
  (7, 67),
  (1, 86)],
 [(1, 99),
  (4, 81),
  (5, 64),
  (6, 66),
  (8, 80),
  (2, 80),
  (7, 69),
  (9, 62),
  (3, 79),
  (0, 88)],
 [(7, 50),
  (1, 86),
  (4, 97),
  (3, 96),
  (0, 95),
  (8, 97),
  (2, 66),
  (5, 99),
  (6, 52),
  (9, 71)],
 [(4, 98),
  (6, 73),
  (3, 82),
  (2, 51),
  (1, 71),
  (5, 94),
  (7, 85),
  (0, 62),
  (8, 95),
  (9, 79)],
 [(0, 94),
  (6, 71),
  (3, 81),
  (7, 85),
  (1, 66),
  (2, 90),
  (4, 76),
  (5, 58),
  (8, 93),
  (9, 97)],
 [(3, 50),
  (0, 59),
  (1, 82),
  (8, 67),
  (7, 56),
  (9, 96),
  (6, 58),
  (4, 81),
  (5, 59),
  (2, 96)]]

In [32]:
data

     0   1   2   3   4   5   6   7   8   9
0   88  68  94  99  67  89  77  99  86  92
1   72  50  69  75  94  66  92  82  94  63
2   83  61  83  65  64  85  78  85  55  77
3   94  68  61  99  54  75  66  76  63  67
4   69  88  82  95  99  67  95  68  67  86
5   99  81  64  66  80  80  69  62  79  88
6   50  86  97  96  95  97  66  99  52  71
7   98  73  82  51  71  94  85  62  95  79
8   94  71  81  85  66  90  76  58  93  97
9   50  59  82  67  56  96  58  81  59  96
10   5   9   7   6   2   3  10   8   1   4
11   6   4   7   5   3   9   1   2   8  10
12  10   9   1   2   7   6   8   5   3   4
13   8   3   2   5   4   7   6   1  10   9
14   4   5  10   9   1   3   7   6   8   2
15   2   5   6   7   9   3   8  10   4   1
16   8   2   5   4   1   9   3   6   7  10
17   5   7   4   3   2   6   8   1   9  10
18   1   7   4   8   2   3   5   6   9  10
19   4   1   2   9   8  10   7   5   6   3

In [4]:
(data.iloc[10,0]-1, data.iloc[0, 0])

(4, 88)

In [5]:

solution = pd.read_csv('./test/abz5_solution_start.csv', header=None)

In [22]:
solution

      0     1     2     3    4     5     6     7     8     9
0  1039   654   774  1125  267   555   461   940   363   863
1   903   995   430   119  355     0   242  1077   711  1171
2   144   230   940   995  850   469   397   753    83     0
3   827   457   304   626  527   761   686     0  1003   940
4   363  1077   524     0   98   686   591   831   268   186
5  1125     0   604   852  186   267   331   684   524   790
6   623   144   874   527  430   940  1039    94   777  1100
7   554   304   253   171    0   375    98   469   616   711
8     0   518   684   253  774   850   171   334   908  1003
9   227   375  1098    69  935  1039   761   554   457   610

In [23]:
machine = [[] for i in range(data.shape[1])]

In [24]:
data.shape[1]

10

In [25]:

start_time = list(solution.iloc[0,:])
start_time

[1039, 654, 774, 1125, 267, 555, 461, 940, 363, 863]

In [26]:
value = sorted(start_time, reverse=False)
machine[0] = sorted(range(len(start_time)),key=lambda k: start_time[k])
machine[0]

[4, 8, 6, 5, 1, 2, 9, 7, 0, 3]

In [28]:

solution = pd.read_csv('./test/abz5_solution_start.csv', header=None)
machine = [[] for i in range(data.shape[1])]

for i in range(data.shape[1]):
    start_time = list(solution.iloc[:,i])
    value = sorted(start_time, reverse=False)
    machine[i] = sorted(range(len(start_time)),key=lambda k: start_time[k])

In [29]:
machine

[[8, 2, 9, 4, 7, 6, 3, 1, 0, 5],
 [5, 6, 2, 7, 9, 3, 8, 0, 1, 4],
 [7, 3, 1, 4, 5, 8, 0, 6, 2, 9],
 [4, 9, 1, 7, 8, 6, 3, 5, 2, 0],
 [7, 4, 5, 0, 1, 6, 3, 8, 2, 9],
 [1, 5, 7, 2, 0, 4, 3, 8, 6, 9],
 [7, 8, 1, 5, 2, 0, 4, 3, 9, 6],
 [3, 6, 8, 7, 9, 5, 2, 4, 0, 1],
 [2, 4, 0, 9, 5, 7, 1, 6, 8, 3],
 [2, 4, 9, 7, 5, 0, 3, 8, 6, 1]]

In [39]:

import numpy as np

NUM_MACHINE = 3
NUM_OP = 3
op_data = [ [(0, 5), (1, 5), (2, 5)],
            [(2, 5), (1, 5), (0, 5)],
            [(1, 5), (0, 5), (2, 5)]]

class Individual():
    def __init__(self, seq):
        self.seq = seq
        self.repeated_seq = self.get_repeatable()
        self.feasible_seq = self.get_feasible()
        # self.machine_order = self.get_machine_order()
        self.makespan = 0.0
        self.machine_seq = self.get_machine_order()

    def get_repeatable(self):
        cumul = 0
        sequence_ = np.array(self.seq)
        for i in range(NUM_MACHINE):
            for j in range(NUM_OP):
                sequence_ = np.where((sequence_ >= cumul) &
                                     (sequence_ < cumul + NUM_MACHINE), i, sequence_)
            cumul += NUM_MACHINE
        sequence_ = sequence_.tolist()
        return sequence_

    def get_feasible(self):
        temp = 0
        cumul = 0
        sequence_ = np.array(self.seq)
        for i in range(NUM_MACHINE):
            idx = np.where((sequence_ >= cumul) & (sequence_ < cumul + NUM_MACHINE))[0]
            print('i:',i,'\tidx:',idx)
            for j in range(NUM_OP):
                sequence_[idx[j]] = temp
                temp += 1
            cumul += NUM_MACHINE

        return sequence_

    def get_machine_order(self):
        m_list = []
        for num in self.feasible_seq:
            idx_i = num % NUM_OP
            idx_j = num // NUM_MACHINE
            # print('idx_i:\t',idx_i)
            # print('idx_j:\t',idx_j)
            m_list.append(op_data[idx_j][idx_i][0])
        print('Job Sequence :', self.repeated_seq)
        print('Machine list :', m_list)
        m_list = np.array(m_list)
        machine_order = []
        for num in range(NUM_MACHINE):
            # machine_order.append([])
            idx = np.where((m_list == num))[0]
            print(num, idx)
            job_order = [self.repeated_seq[o]for o in idx]
            machine_order.append(job_order)


        return machine_order

    # def get_machine_order(self):

sequence = [8,7,6,3,2,1,5,4,0]
ind = Individual(sequence)
print(ind.seq)
print(ind.repeated_seq)
print(ind.feasible_seq)
print(ind.machine_seq)

i: 0 	idx: [4 5 8]
i: 1 	idx: [3 6 7]
i: 2 	idx: [0 1 2]
Job Sequence : [2, 2, 2, 1, 0, 0, 1, 1, 0]
Machine list : [1, 0, 2, 2, 0, 1, 1, 0, 2]
0 [1 4 7]
1 [0 5 6]
2 [2 3 8]
[8, 7, 6, 3, 2, 1, 5, 4, 0]
[2, 2, 2, 1, 0, 0, 1, 1, 0]
[6 7 8 3 0 1 4 5 2]
[[2, 0, 1], [2, 0, 1], [2, 1, 0]]

In [19]:
op_data[0][2]

(2, 5)

In [33]:
m_list = np.array([1, 0, 2, 2, 0, 1, 1, 0, 2])
idx = np.where((m_list == 1))
idx

(array([0, 5, 6], dtype=int64),)